a {
  text-decoration: none;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #F2F2F2;
}

.wrapper {
  max-width: 1004px;
  margin: 0 auto;
}

.wrapper-head {
  max-width: 1262px;
  height: 655px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px 5px rgba(21, 24, 36, 0.1599);
          box-shadow: 0 0 10px 5px rgba(21, 24, 36, 0.1599);
  margin-top: 130px;
  margin-bottom: 130px;
}

.wrapper-main {
  max-width: 1264px;
  margin-top: 30%;
}

.wrapper-footer {
  max-width: 1079px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.header {
  background-image: url(../img/heroshadow.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 989px;
  width: 100%;
  position: relative;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 62px;
}

.menu .nav {
  list-style-type: none;
}

.menu .nav-item {
  display: inline-block;
  margin-left: 82px;
}

.menu .nav-link {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.menu .nav-link:hover {
  color: #1B7DFF;
}

.content-hero {
  margin-top: 176px;
  color: #fff;
}

.content-hero .content-title {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 22px;
}

.content-hero .content-subtitle {
  width: 55%;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 60px;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-btn {
  background-color: #1B7DFF;
  border: none;
  padding: 15px 40px;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  outline: none;
}

.search-btn:hover {
  background-color: #F2F2F2;
  color: #1B7DFF;
}

.search .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #BFC0C5;
  width: 30%;
  margin-right: 60px;
}

.search .form-oval {
  background-image: url(../img/oval.svg);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  margin-right: 23px;
}

.search .form-text {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

h2 {
  font-size: 35px;
  font-weight: 500;
  padding-top: 93px;
  padding-bottom: 100px;
}

.welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.welcome-item {
  margin-right: 55px;
}

.welcome-image {
  margin-bottom: 35px;
}

.welcome-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

.welcome-text {
  width: 310px;
  height: 72px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 40px;
}

.welcome-link {
  color: #006DFE;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-right: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.welcome-link:hover {
  background-color: #006DFE;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 10px 15px;
  border-radius: 35px;
}

.viev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.viev-title {
  font-size: 35px;
  font-weight: 500;
  color: #102746;
  padding: 0;
}

.viev-title:after {
  border-bottom: 2px solid #006DFE;
  display: block;
  content: '';
  width: 55%;
  padding-top: 7px;
}

.viev-link {
  font-size: 16px;
  font-weight: 400;
  color: #006DFE;
  margin-right: 25px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.viev-link:hover {
  background-color: #006DFE;
  color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding: 5px 10px;
  border-radius: 35px;
}

.places {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  position: relative;
  left: -2%;
  margin: 0;
  padding: 0;
}

.places-card {
  width: 619px;
  height: 354px;
}

.places-image {
  position: relative;
  -webkit-transition: 1s;
  transition: 1s;
}

.places-image:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.places-title {
  font-size: 50px;
  font-weight: 700;
  position: relative;
  top: -35.5%;
  left: 5%;
  padding: 0;
  margin: 0;
  color: #fff;
}

.places2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 14px;
  position: relative;
  left: -2%;
  margin-top: 10px;
}

.places2-card {
  width: 415px;
  height: 283px;
}

.tower {
  margin-top: 10%;
}

.tower-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 100px;
  margin-bottom: 5%;
}

.tower-title {
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 15%;
}

.tower-sup {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 10%;
}

.tower-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #006DFE;
  margin-right: 25px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.tower-link:hover {
  background-color: #006DFE;
  color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding: 5px 10px;
  border-radius: 35px;
}

.topplaces-title {
  font-size: 35px;
  font-weight: 500;
  color: #102746;
  padding: 5% 0 0 0;
}

.topplaces-title:after {
  border-bottom: 2px solid #006DFE;
  display: block;
  content: '';
  width: 20%;
  padding-top: 7px;
}

.topplaces-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.topplaces-card {
  position: relative;
  top: -10px;
  margin-right: 26px;
}

.topplaces-image {
  position: relative;
  top: 53px;
}

.topplaces .sup {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 386px;
  background-color: rgba(21, 24, 36, 0.6);
  color: #fff;
}

.topplaces .sup-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  margin-left: 25px;
}

.topplaces .sup-world {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.topplaces .sup-like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-right: 14px;
  padding-right: 5px;
}

.topplaces .sup-likes {
  background-image: url(../img/like.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 15px;
  padding-left: 10px;
}

.topplaces .sup-comm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-right: 15px;
}

.topplaces .sup-comms {
  background-image: url(../img/comment.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 15px;
  padding-left: 10px;
}

.topplaces-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 90%;
  margin-bottom: 31px;
}

.topplaces-btn {
  font-size: 16px;
  font-weight: 400;
  background-color: #006DFE;
  border: none;
  color: #fff;
  padding: 12px 19px;
  outline: none;
  cursor: pointer;
}

.topplaces-btn:hover {
  background-color: #006DFE;
  color: #000;
}

.video {
  margin-top: 144px;
  height: 609px;
}

.video-image {
  width: 100%;
}

.footer {
  background-color: #0E1D28;
  height: 370px;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 120px;
}

.footer-image {
  margin-bottom: 70px;
}

.footer .nav {
  list-style-type: none;
}

.footer .nav-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.footer .nav-link-title {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  line-height: 24px;
}

.footer .nav-link:hover {
  color: #1B7DFF;
}
/*# sourceMappingURL=style.css.map */